[submodule "vendor/plugins/attachment_fu"]
	path = vendor/plugins/attachment_fu
	url = git@github.com:kalebwalton/attachment_fu.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git@github.com:kalebwalton/will_paginate.git
[submodule "vendor/plugins/mini_magick"]
	path = vendor/plugins/mini_magick
	url = git@github.com:kalebwalton/mini_magick.git
