<h1>Upload Files</h1>

<% form_tag({:action => 'create'}, {:multipart => true}) do -%>
  <% 5.times do |i| 
       count = i+1 %>
    <p>
      <%=count%>. <%= file_field 'managed_file'+count.to_s, :uploaded_data %>
    </p>
    
  <% end %>
  <p><%= submit_tag :Upload %></p>
<% end -%>

