%h1 
  Remove File 

%p 
  Are you sure you want to 
  %strong.warning permanently remove
  the following file?
  
%table.index#managed_file{:cellpadding=>0, :cellspacing=>0, :border=>0}
  %tbody
    %tr.node.level-1
      %td.managed_file
        = image_tag('admin/page.png', :alt => 'managed-file-icon')
        %span.filename= @managed_file.filename

- form_for [:admin, @managed_file], :html => {:method => :delete} do
  %p.buttons
    %input.button{:type=>"submit", :value=>"Delete File"}/
    or
    = link_to 'Cancel', admin_managed_files_url
