- @page_title = 'File Browser'

%div#pagination= will_paginate @managed_files
%table#managed_files.index{:cellspacing=>"0", :border=>"0", :cellpadding=>"0"}
  %thead
    %tr
      %th.file_name Name
  %tbody
    - @managed_files.each do |file|
      %tr.node.level-1
        %td.file_name
          %span= link_to_function file.filename, "javascript:OpenFile('#{file.public_filename}')"

